.container {
  margin-left: 5%;
  margin-right: 5%;
  height: 610px;
}
.separator {
  margin-top: 50px;
  display: block;
  height: 1px;
  background-color: rgb(57, 55, 55);
}
.box {
  margin-left: 80px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}
.tittle1 {
  font-family: "PT Serif", serif;
  text-align: center;
  font-size: 30px;
  text-wrap: nowrap;
  font-weight: 500;
  width: 100px;
  height: 40px;
  margin-right: 500px;
}
.box1 {
  position: relative;
  top: 60px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  width: 300px;
}
.list {
  margin-top: 20px;
  margin-left: 25px;
}
.text {
  list-style-type: circle;
  font-family: "PT Serif", serif;
  text-align: justify;
  font-size: 18px;
}
.img {
  position: relative;
  left: 890px;
  bottom: 280px;
  width: 362px;
  height: 544px;
  border-radius: 6px;
}
